.achievementsContainer {
  text-align: center;
  /* margin-top: 120px; */
  /* padding: 60px 20px; */
  /* background: #1e293b; */
}

.title {
  font-size: 2.5rem;
  color: #00ffab;
  margin: 0px 0px 20px 0px;
  margin-bottom: 40px;
  text-shadow: 0px 0px 15px rgba(0, 255, 170, 0.7);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  perspective: 1000px;
}

.cardInner {
  width: 260px;
  height: 180px;
  padding: 20px;
  border-radius: 12px;
  background: #1f2937;
  color: white;
  box-shadow: 0 0 10px rgba(0, 255, 170, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  will-change: transform;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover .cardInner {
  transform: rotateY(10deg) rotateX(10deg) scale(1.03);
  box-shadow: 0px 0px 20px rgba(0, 255, 170, 0.5);
}

.cardInner h3 {
  font-size: 1.2rem;
  color: #00ffab;
  margin-bottom: 10px;
}

.cardInner p {
  margin: 0;
  color: #b5f3e8;
}

.cardInner span {
  font-size: 0.9rem;
  color: #888;
}
