.portfolioContainer {
  text-align: center;
  padding: 50px 20px;
  background-color: #1e293b;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projectCard {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
}
