/* src/styles/SectionDivider.module.css */
.divider {
  height: 2px;
  width: 60%;
  margin: 80px auto;
  background: #00ffab;
  transform-origin: center;
  box-shadow: 0 0 10px #00ffab;
  border-radius: 999px;
}
